@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_FilmLayout.cshtml";
}
<style>
 
</style>
<div class="logo" style="background-image: linear-gradient(to right,#DECBA4,#3E5151);border-radius:10px;">
    <h1 style=" font-family:'Baskerville Old Face'"; font-weight: bold;"> 	
        Công ty TNHH 3 thành viên :
    </h1>
    <h3 style="display:flex;flex-direction:column;align-items:center">
        Ngô Thanh Thiên<br />
        Lê Khánh Trường Vũ<br />
        Phạm Lê Kha
    </h3>
</div>
