@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_FilmLayout.cshtml";
}
<style>
  .logo{
      display:flex;
      flex-direction:column;
      align-items:center;
  }
</style>
<div class="logo">
    <h1 style=" font-family: 'Segoe UI';">Hover over the logo</h1>
    <img style="width:450px ; height:450px" src="~/Content/Img/3sumteam.png" />
</div>
