@{
    Layout = "~/Views/Shared/_FilmLayout.cshtml";
}
<link href="~/Content/Css/Login-Register.css" rel="stylesheet" />
<div class="login-page">
    <input class="user-name" type="text" name="user-name" placeholder="UserName" />
    <input class="password" type="password" name="password" placeholder="Password" />
    <button class="login">Login</button>
    <a href="#" style="text-decoration:none;color:azure">Fogot Password</a>
    <a href="Register"><button class="register">Register</button></a>
</div>

