@{
    Layout = "~/Views/Shared/_FilmLayout.cshtml";
}
<link href="~/Content/Css/trending.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col">
            <img class="size-img" src="~/Content/Img/crytsal-blue-cube-4k-ku.jpg" alt="One Piece tập 1" />
            <div class="box-video">
                <p class="card-title">One Piece tập 1</p>
                <p class="card-title-view">500.000 View</p>
            </div>
        </div>
        <div class="col">
            <img class="size-img" src="~/Content/Img/crytsal-blue-cube-4k-ku.jpg" alt="One Piece tập 1" />
            <div class="box-video">
                <p class="card-title">One Piece tập 2</p>
                <p class="card-title-view">22.000 View</p>
            </div>
        </div>
        <div class="col">
            <img class="size-img" src="~/Content/Img/crytsal-blue-cube-4k-ku.jpg" alt="One Piece tập 1" />
            <div class="box-video">
                <p class="card-title">One Piece tập 1</p>
                <p class="card-title-view">500.000 View</p>
            </div>
        </div>
        <div class="col">
            <img class="size-img" src="~/Content/Img/crytsal-blue-cube-4k-ku.jpg" alt="One Piece tập 1" />
            <div class="box-video">
                <p class="card-title">One Piece tập 3</p>
                <p class="card-title-view">200.000 View</p>
            </div>
        </div>
    </div>
</div>

