/***********Login page*********/
/***********Login page*********/
/***********Login page*********/
/***********Login page*********/
/***********Login page*********/
/***********Login page*********/
.login-page {
    width: 560px;
   height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    /*background: #464646;*/
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 20px;
    box-shadow: 0px 0px 10px #808080;
    align-items: center;
}
    .login-page .user-name {
        width: 460px;
        height: 50px;
        margin-bottom: 6px;
        padding-left: 20px;
        opacity: 0.7;
        background: transparent;
        border-bottom:4px solid #aef8ff;
        border-left:none;
        border-right:none;
        border-radius: 10px;
        border-top:none;
        transition: ease-out 0.5s;
    }

        .login-page .user-name:focus {
            border-color: white;
            outline: none;
            box-shadow: 0px 0px 20px #1f1f1f;
        }

    .login-page .password-login {
        width: 460px;
        height: 50px;
        margin-bottom: 10px;
        padding-left: 20px;
        background: transparent;
        border-bottom: 4px solid #aef8ff;
        border-left: none;
        border-right: none;
        border-radius: 10px;
        border-top: none;
        border-radius: 10px;
        transition: ease-out 0.5s;
        opacity: 0.7;
    }

    .login-page .register {
        width: 260px;
        height: 50px;
        margin-bottom: 30px;
        margin-top: 20px;
        color: white;
        background: transparent;
        border: 1px solid #aef8ff;
        border-radius: 10px;
        box-shadow: 0px 0px 20px #1f1f1f;
        transition: 0.5s;
    }

.login-page .register:hover {
            background-color: white;
            border-color: black;
            color: black;
        }

    .login-page .password-login:focus {
        border-color: white;
        outline: none;
        box-shadow: 0px 0px 20px #1f1f1f;
    }
::placeholder {
    color: white;
    padding-left: 4px;
}
.password-login::placeholder {
    color: black;
    padding-left: 4px;
}
.user-name::placeholder {
    color: black;
    padding-left: 4px;
}

.login-page .login:hover {
    box-shadow: 0px 0px 10px #1f1f1f;
}

.login {
    width: 460px;
    height: 50px;
    margin-bottom: 30px;
    color: white;
    background: transparent;
    border: 1px solid #aef8ff;
    border-radius: 10px;
    border-radius: 10px;
    border-radius: 10px;
    transition: 0.5s;
}
#save {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-right: 310px;
}

.check {
    margin-right: 10px;
}
/*************Register Page********/
/*************Register Page********/
/*************Register Page********/
/*************Register Page********/
/*************Register Page********/
.register-page {
    width: 600px;
    height:700px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    /*background: #464646;*/
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 20px;
    box-shadow: 0px 0px 10px #808080;
    align-items: center;
}
.register-regispage {
    width: 460px;
    height: 50px;
    margin-bottom: 30px;
    color: white;
    background: transparent;
    border: 1px solid #aef8ff;
    border-radius: 10px;
    transition: 0.5s;
}
.register-regispage:hover{
    color:black;
    background:#78b7b9;
    border-color:white;
}

.login-regispage {
    width: 260px;
    height: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
    color: white;
    background: transparent;
    border: 1px solid #aef8ff;
    border-radius: 10px;
    transition: 0.5s;
}
    .login-regispage:hover {
        color: black;
        background: white;
        border-color: white;
        opacity: 10;
        box-shadow: 0px 0px 3px white;
    }
.name {
    width: 460px;
    height: 50px;
    background: transparent;
    border-bottom: 4px solid #aef8ff;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    border-top: none;
    margin-bottom: 6px;
    padding-left: 20px;
    opacity: 0.7;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    box-shadow: 0px 0px 1px #1f1f1f;
}
    .name:focus {
        border-color: white;
        outline: none;
        box-shadow: 0px 0px 10px #1f1f1f;
    }
.name1 {
    padding-top:30px;
    padding-bottom:10px;
    display:flex;
    flex-direction:column;

}
