.size-img{
    width:260px;
    height:190px;
}
.box-video{
    text-align:center;
    width:auto;
    height:auto;
}
.col {
    width: 260px;
    height: 290px;
    margin: 20px;
}
.col:hover{
    box-shadow:0px 0px 10px black;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}