@model ThreeSome.Models.espisode

@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_FilmLayout.cshtml";
}
<style>
    body {
        background-image: none;
        background-color: #000000;
    }
</style>
<h2>Video</h2>

