<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Css/Main.css" rel="stylesheet" />
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <style>
        .content {
            display: flex;
            flex-direction:  column;
            justify-content:center;
            height: 100%;
            padding-top: 40px;
            padding-left:50px;
            padding-right:50px;
            padding-bottom:5px;
            overflow-x: hidden;
        }

        .footer {
            width: 100%;
            height: 300px;
            clear: both;
            background-color: #1b1b1b;
            border-top: 10px solid #3d3d3d;
            margin-top: -4px;
            padding-top: 50px;
            padding-left: 200px;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="div-header">
            <h2 style="color:#2b2852">3SumTeam</h2>
            <div class="search">
                <input type="text" name="search-bar" id="search-bar"  placeholder="Search" />
                <button  id="search-button" ><ion-icon name="search"></ion-icon></button>
            </div>
            <nav class="nav">
                <a class="a1" href="Index">Home</a>
                <a class="a1" href="Trending">Trending</a>
                <a class="a1" href="Genre">Genre</a>
                <a class="a1" href="Favorite">Favorite</a>
                <a class="a1" href="About">About</a>
                <button class="bt">Login</button>
            </nav>
        </div>
        <div class="content">
            @RenderBody()
        </div>

        <footer>
            <div class="footer">
                <h3 style="color: #808080 ">Liên Hệ </h3>
                <a class="a2" href="#">About</a><br />
                <a class="a2" href="#">Contact</a>
                <br />
                <br />
                <h5  style="color:#808080">©NoCopyright - Nhóm ăn ba tô cơm</h5>
            </div>
        </footer>
    </div>
</body>
</html>
