@model IEnumerable<ThreeSome.Models.FilmModel>

@{
    ViewBag.Title = "FilmList";
    Layout = "~/Views/Shared/_FilmLayout.cshtml";
}
<style>
    body {
        background-image: none;
        background-color: #000000;
    }   
</style>
<link href="~/Content/Css/trending.css" rel="stylesheet" />
<div class="container">
    <h2 style="color: white" >Danh sách phim</h2>
    <div class="row" style="margin:30px">
        @foreach (var item in Model)
        {
            <div class="col" style="align-content:center" >
                <a style="text-decoration:none; color:white" href="@Url.Action("FilmDetail", "FilmTag", new { area = "" })?FilmID=@item.FilmID">
                    <img class="size-img" style="object-fit: cover;" src="@Url.Content(item.FilmImg)" />
                    <h3 style="color: white" class="card-title">@item.FilmTitle</h3>
                    @if (item.FilmCount != null)
                    {
                        <p style="color: white;font-size:15px" class="card-title-view">
                            Tổng: @item.FilmCount tập
                        </p>
                    }
                    else
                    {
                      <p style="color: white;font-size:15px" class="card-title-view">
                      Tổng: Vẫn đang cập nhật số tập
                     </p>
                    }
                    </a>
            </div>
        }
    </div>
</div>

