@model IEnumerable<ThreeSome.Models.genre>
@{
    Layout = null;
}
<div class="dropdown">
    <a class="a1" id="theloai" href="Gerne">Thể loại <span style="font-size:10px">&#9660;</span></a>
    <div class="dropdown-content">
        @foreach (var item in Model)
        {
            if (item.genreID != 1)
            {
                <a class="a1"  href="#">@item.genreName</a>
            }
        }
    </div>
</div>
